/**
 * @file
 * CSS for nav buttons.
 */

/*
 * mobile navigation close button
 */
.mobile-nav-close {
  float: right;
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  
  &:hover {
    &::before,
    &::after {
      background: $medium-gray;
    }
  }
  
  &::before,
  &::after {
    background: $white;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -2px;
  }
  
  &::before {
    transform: rotate(45deg);
  }
  
  &::after {
    transform: rotate(-45deg);
  }
}


/*
 * mobile navigation close button
 */
.mobile-nav-open {
  position: relative;
  border-top: 4px solid $black;
  border-bottom: 4px solid $black;
  width: 32px;
  height: 28px;
  text-indent: -9999px;

  &::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 4px;
    top: 50%;
    left: 0;
    background: $black;
    margin-top: -2px;
  }

  @include breakpoint(large) {
    display: none;
  }
}
