/**
 * @file
 * For primary menu (main navigation) component
 */

#block-mainnavigation {
  clear: both;

  ul.menu {
    @include menu-base;
    @include menu-direction(vertical);

    li {
      span {
        position: absolute;
        right: 0;
        top: rem-calc(16);
        background: #fff;
        cursor: pointer;

        &:before {
          content: '+';
          display: block;
        }

        &.active {
          &:before {
            content: '-';
          }
        }
      }

      ul.menu {
        display: none;
      }
    }
  }

  @include breakpoint(large) {
    ul.menu {
      @include menu-direction(horizontal); 

      li {
        position: relative;
        text-transform: uppercase;
        font-size: rem-calc(15);
        font-weight: 600;
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);

        &.menu-item--active-trail {
          a {
            position: relative;
    
            &:after {
              content: '';
              position: absolute;
              bottom: rem-calc(-10);
              left: 0;
              width: 100%;
              height: rem-calc(5);
              background: $dark-gray;
            }
          }
        }

        a {
          color: $dark-gray;
          padding-left: 0;
          padding-right: 0;

          &:hover {
            color: $dark-gray;
          }
        }

        span { display: none; }
      }

      ul.menu {
        display: none;
      }
    }
  }
}
