/**
 * @file
 * Main specific styles.
 */

section.main {
  /*
   * if all three column regions are present
   */
  &.three-col {
    .sidebar {
    }

    .main-column {
    }

    @include breakpoint(medium) {
      .sidebar {
        @include grid-col-size(3);
      }

      .main-column {
        @include grid-col-size(6);
      }
    }

    @include breakpoint(large) {
      .sidebar {
        @include grid-col-size(2);
      }

      .main-column {
        @include grid-col-size(8);
      }
    }
  }

  /*
   * if only two columns are present (one sidebar, and main area)
   */
  &.two-col {
    // if the first sidebar is the one present
    &.active-first {
      .sidebar {
      }

      .main-column {
      }

      @include breakpoint(medium) {
        .sidebar {
          @include grid-col-size(2);
        }

        .main-column {
          @include grid-col-size(10);
        }
      }

      @include breakpoint(large) {
        .sidebar {
          @include grid-col-size(3);
        }

        .main-column {
          @include grid-col-size(9);
        }
      }
    }

    // if the second sidebar is the one present
    &.active-second {
      .sidebar {
      }

      .main-column {
      }

      @include breakpoint(medium) {
        .sidebar {
          @include grid-col-size(4);
        }

        .main-column {
          @include grid-col-size(8);
        }
      }

      @include breakpoint(large) {
        .sidebar {
          @include grid-col-size(3);
        }

        .main-column {
          @include grid-col-size(9);
        }
      }
    }
  }
}
