{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
      <button type="button" class="mobile-nav-close" data-toggle="offCanvas">Close Menu</button>
      {% if page.primary_menu %}
        {{ page.primary_menu }}
      {% endif %}
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <div class="container">
        <div class="page page-internal">

          <!-- site header -->
          <header class="site-header clearfix" role="banner">
            <div class="row">
              <div class="columns">
                <button type="button" class="mobile-nav-open" data-toggle="offCanvas">Close Menu</button>
                {% if page.header %} 
                  {{ page.header }}
                {% endif %}
              </div>
            </div>
          </header>
          <!-- // site header -->

          {% if page.primary_menu %}
            <!-- primary menu -->
            <section class="primary-menu clearfix">
              <div class="row">
                <div class="columns">
                  <!-- primary menu placed here by intention -->
                </div>
              </div>
            </section>
            <!-- // primary menu -->
          {% endif %}

            <!-- main wrapper -->
            <div id="main-wrapper" role="main">
              <div id="main" class="clearfix">

                {% if page.highlighted %}
                  <!-- highlighted -->
                  <section class="messages">
                    <div class="row">
                      <div class="columns">
                        {{ page.highlighted }}
                      </div>
                    </div>
                  </section>
                  <!-- // highlighted -->
                {% endif %}

                {% if page.help %}
                  <!-- help -->
                  <section class="help">
                    <div class="row">
                      <div class="columns">
                        {{ page.help }}
                      </div>
                    </div>
                  </section>
                  <!-- // help -->
                {% endif %}

                {% if page.breadcrumb %}
                  <!-- breadcrumb -->
                  <section class="breadcrumb">
                    <div class="row">
                      <div class="columns">
                        {{ page.breadcrumb }}
                      </div>
                    </div>
                  </section>
                  <!-- // breadcrumb -->
                {% endif %}

                {% if page.featured %}
                  <!-- featured -->
                  <section class="featured">
                    <div class="row">
                      <div class="columns">
                        {{ page.featured }}
                      </div>
                    </div>
                  </section>
                  <!-- // featured -->
                {% endif %}

                <!-- main content -->
                {% if page.sidebar_first and  page.sidebar_second %}
                  <section class="main three-col">
                {% elseif  page.sidebar_first and not page.sidebar_second %}
                  <section class="main two-col active-first">
                {% elseif  page.sidebar_second and not page.sidebar_first %}
                  <section class="main two-col active-second">
                {% else %}
                  <section class="main one-col">
                {% endif %}

                  <div class="row">
                    {% if page.sidebar_first %}
                      <aside class="sidebar-first columns sidebar" role="complementary">
                        {{ page.sidebar_first }}
                      </aside>
                    {% endif %}

                    {% if page.content %}
                      <section class="main-column columns">
                        {{ page.content }}
                      </section>
                    {% endif %}

                    {% if page.sidebar_second %}
                      <aside class="sidebar-second columns sidebar" role="complementary">
                        {{ page.sidebar_second }}
                      </aside>
                    {% endif %}
                  </div>
                </section>
                <!-- // main content -->

              </div>
            </div>
            <!-- // main wrapper -->

            {% if page.footer %}
              <!-- site footer -->
              <footer class="site-footer" role="contentinfo">
                <div class="row">
                  <div class="columns">
                    {{ page.footer }}
                  </div>
                </div>
              </footer>
              <!-- // site footer -->
            {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>


